<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Visualizations </title>
    <link rel="stylesheet" href="style.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>


<body id="background">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto class">
              <li class="nav-item">
                <!-- home icon that returns us to the home page -->
                <a class="nav-link active" aria-current="page" href="index.html">
                  <svg xmlns="http://www.w3.org/2000/svg" width="45" height="30" fill= "rgb(11, 11, 185)"  class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                  </svg>
                </a>
              </li>
              <li class="nav-item">
                <a id ="nav_tabs" class="nav-link" href="carsanalyzed.html">Cars Analyzed </a>
              </li>
              <li class="nav-item">
                <a id ="nav_tabs" class="nav-link" href="Visualizations.html">Visualizations </a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Manufacturers <img src="car_img.jpg" width="25" height="25">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul> -->
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <br>
      <br>
      
      <div class="plots_header" >
            <h1> Plots</h1>
            <p>This is the page in which our interactive plots will have capability to be  adjusted by the end-user </p>
            <p>Therefore, Javascript will need to be applied to this html file ("visualizations.html") </p>
      </div>
      
      
      <br>
      <br>
      <br>


    <div class="container">
      <div class="row">
          <div class = "col-md-6">
            Insert first plot (tbd)
          
  
          </div>

          <div class = "col-md-6">
            Insert second plot (tbd)
          
          </div>
      
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>

      <div class= "row">
        <div class = "col-md-12">
          Insert third plot (tbd)







        </div>





       


    </div>
