<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>about</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
    </head>
    
    <body>
    
        <!-- Insert code for leaflet map. Code also needs to be added to Java, similar to Leaflet HWK     -->
        -here gets placed geocoded dealerships marker map
    </body>
</html>