.plots_header {
    background: linear-gradient(to right, white,rgb(231, 201, 173),rgb(233, 127, 40));
    padding:2em
}

.navbar {
    background: linear-gradient(to right, white,rgb(231, 201, 173),rgb(233, 127, 40));
    opacity: 0.8;
}

#nav_tabs {
    font-weight: bold;
    font-size: larger;
    color:rgb(11, 11, 185)
}




#card_format {
    background-color: rgb(231, 201, 173);
    padding:1em;
    margin-right:2%;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}
