<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>about</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <!-- Where was data obtained from-->
        <p>The data explored in this project comes from two separate sources:</p> 
        <p>-Firstly, a highly detailed csv file from Kaggle was accessed in which data covers
            over 5 million used and new car listings within the state of Illinois from June 2018 to June 2020.
            The data used from this source was used to provide general comparitive reference to the data analyzed from our second source.
        </p>
        <p>-Secondly, a web-scraping algorithm was designed to retrieve data on new car listings from cargurus.com. The scraped
            data was restricted to the following zip codes and locations within a 50 mile radius of each one to cover the four main metroplexes in the state:
            76012-Arlington, 78234-San Antonio, 78704-Austin, & 77033-Houston. From then, the data was filtered to only reflect the Ford Bronco Maverick, 
            GMC Hummer EV, Chevrolet Blazer, Toyota Tundra, and 3 variations of the Jeep Wrangler.
        </p>

        
    </body>
</html>