<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>about</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <!-- Why was this project conducted-->
        <p>-When one delves into the prospect of buying a new vehicle, the term 'MSRP' (Manufacturer's Suggested Retail Price)
            is an effective determinant from which consumers obtain an idea for the value of a specific vehicle
        </p> 
        <p>-INSERT TEXT            
        </p> 
        
    </body>
</html>